<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Python Boot Camp 47都道府県開催への道</title>
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/static/jquery.japan-map.js"></script>
    <script>
            $(function(){
          
    var areas = [
    {% for a in area %}
    {code : {{a[0]}}, name: "{{a[1]}}", color: "{{a[2]}}", prefectures: [{{a[0]}}]},
    {% endfor %}
        ];

            
                $("#map-container").japanMap({
    		    width:800,
                        areas  : areas,
                        selection : "area",
                        borderLineWidth: 0.25,
                        borderLineColor: "#cccccc",
                        drawsBoxLine : false,
                        movesIslands : true,
                        showsAreaName : true,
                        //font : "MS Mincho",
                        fontSize : 10,
    		            fontColor :"#483d8b",
                        fontShadowColor : "white",
                        //onSelect : function(data){
    			     //       location.href = areaLinks[data.area.code];
                       // }
                });
    
            });
    </script>
</head>
<body>
<div id="map-container"></div>
<h2>水色：PythonBootCamp開催済み，ピンク：PythonBootCamp開催予定</h2>
</body>
</html>